{% extends 'base.html.twig' %}

{% block title %}PROFILE INDEX{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a class="btn btn-success" href="{{ path('app_profile_new') }}">Ajouter un profil</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Sous-titre</th>
            <th>Biographie</th>
            <th>Numéro de téléphone</th>
            <th>Adresse</th>
            <th>Zipcode</th>
            <th>Ville</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.id }}</td>
                <td>{{ profile.headline }}</td>
                <td>{{ profile.biography }}</td>
                <td>{{ profile.phoneNumber }}</td>
                <td>{{ profile.address }}</td>
                <td>{{ profile.zipcode }}</td>
                <td>{{ profile.city }}</td>
                <td>{{ profile.country }}</td>
                <td>
                    <a class="btn btn-sm btn-dark"
                       href="{{ path('app_profile_show', {'id': profile.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-dark"
                       href="{{ path('app_profile_edit', {'id': profile.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_profile_delete', {'id': profile.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de profil</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
