{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <table class="table" style="max-width: 500px">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ profile.id }}</td>
        </tr>
        <tr>
            <th>Numéro de téléphone</th>
            <td>{{ profile.phoneNumber }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ profile.address }}</td>
        </tr>
        <tr>
            <th>Zipcode</th>
            <td>{{ profile.zipcode }}</td>
        </tr>
        <tr>
            <th>Ville</th>
            <td>{{ profile.city }}</td>
        </tr>
        <tr>
            <th>Pays</th>
            <td>{{ profile.country }}</td>
        </tr>
        </tbody>
    </table>
    <div class="example-wrapper">
        <a class="btn btn-lg btn-primary" href="{{ path('app_profile_edit', {'id': profile.id}) }}">Modifier</a>
        {% if is_granted('ROLE_ADMIN') %}
            {{ include('profile/_delete_form.html.twig') }}
            <a class="btn btn-lg btn-dark" href="{{ path('app_profile_index') }}">Annuler</a>
        {% endif %}
    </div>
{% endblock %}
