{% extends 'base.html.twig' %}

{% block title %}TECHNOLOGY INDEX{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a class="btn btn-success" href="{{ path('app_technology_new') }}">Ajouter une technologie</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Logo</th>
            <th>Version</th>
            <th>Niveau de maîtrise</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for technology in technologies %}
            <tr>
                <td>{{ technology.id }}</td>
                <td>{{ technology.name }}</td>
                <td>{{ technology.logo }}</td>
                <td>{{ technology.version }}</td>
                <td>{{ technology.masteryLevel }}</td>
                <td>
                    <a class="btn btn-sm btn-dark" href="{{ path('app_technology_show', {'id': technology.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-dark" href="{{ path('app_technology_edit', {'id': technology.id}) }}">Modifier</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-sm btn-danger"
                           href="{{ path('app_technology_delete', {'id': technology.id}) }}">Supprimer</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de technologies</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
