{% extends 'base.html.twig' %}

{% block title %}PROJET INDEX{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a class="btn btn-success" href="{{ path('app_project_new') }}">Ajouter un projet</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Screenshot</th>
            <th>Créé le</th>
            <th>URL Github</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.screenshot }}</td>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.githubUrl }}</td>
                <td>{{ project.url }}</td>
                <td>
                    <a class="btn btn-sm btn-dark"
                       href="{{ path('app_project_show', {'id': project.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-dark"
                       href="{{ path('app_project_edit', {'id': project.id}) }}">Modifier</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_project_delete', {'id': project.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de projet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
