{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="example-wrapper">
    <button class="btn btn-lg btn-primary">{{ button_label|default('Ajouter') }}</button>
    <a class="btn btn-lg btn-dark" href="{{ path('app_user_index') }}">Annuler</a>
</div>
{{ form_end(form) }}
